.container .jumbotron{
    border-radius: 0;
}

.label{
    border-radius: 0;
}

.content {
  .make-md-column(9);
  article{
    margin-bottom: 40px;
  }
}

.sidebar{
  .make-md-column(3);
}

.sidebar-avatar{
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}
.sidebar-bio{

  color:@gray;
}