@brand-primary:                     #bada55;

@navbar-default-bg:                 darken(@brand-primary, 10%);
@navbar-default-brand-hover-color:  #fff;
@navbar-default-link-color:         #fff;
@navbar-default-link-active-color:  lighten(@brand-primary, 25%);
@navbar-default-link-active-bg:     darken(@brand-primary, 20%);

@jumbotron-bg:                      lighten(@brand-primary, 30%);